html,body{margin:0;padding:0;text-align:center; /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/ font-family: 'Nanum Gothic', 'NanumGothic', NanumGothic, ng, Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif; color:#111; font-size:14px;font-weight: normal; line-height: 1.42857143;}
#pagewidth{width:100%;text-align:center;margin:0 auto;}
#maincol{background-color:#e2e7e6;position:relative;width:100%;}
#maincol .bxslider img{width:100%;}
#footer{height:160px;background-color:#FFFFFF;clear:both;display:block;overflow:auto; position:relative;}
.clearfix:after{content:"";display:table;clear:both;}
* html .clearfix{display:block;}

.fl{float:left;}
.fr{float:right;}

li { list-style:none; }
ul, ol { margin:0; padding:0; }
table{border-collapse:collapse;}

a { color:#49535c; }
a:hover { text-decoration:none;color:#265d8d; }
a, a:visited, a:focus { text-decoration:none }
.underline, a.underline { text-decoration:underline; }
strong, .strong { font-weight:600; }

h1, h2, h3, h4, h5, h6 {
	padding:0;
	margin:0;
	font-weight:600;
	line-height:1.1;
	text-align: left;
}

.iconStyle{display:inline-block;vertical-align:middle;background-size:cover;}
.iconStyle + span{vertical-align:middle;}
.ico-plus{width:15px;height:15px;background-image:url(images/ico-plus.png);}
.ico-main-bu{width:11px;height:11px;background-image:url(images/ico-main-bu.png);}

.aline-r{text-align:right;}
.align-l{text-align:left;}

#top {position:relative; width:100%; height:148px;background:url(images/bg_top.jpg)repeat-x center 0;text-align:center; min-width:1024px;}
.topwrap {margin:0 auto; width:1024px;height:38px; }
li.topmenu1{float:left; }
li.topmenu2{float:right;}
.topwrap2 {margin:0 auto; width:1024px; height:109px; }
li.topmenu3{ padding-top:40px; width:213px; text-align:left;}
li.topmenu4{float:left;width:810px; padding-left:120px; margin-top:-70px;}

#contents {position:relative; width:100%; height:630px;text-align:center; min-width:1024px; }
#contents .grid {margin:0 auto; width:1024px; margin-top:20px; height:604px;}
#contents .grid1 {float:left; margin-right:8px;width:505px;}
#contents .grid2 {float:left; margin-bottom:9px;width:504px;}
#contents .grid3 {float:left;width:504px;}
#contents .grid456 {width:504px; float:left;}
#contents .grid4 {float:left; margin-top:8px; margin-right:8px;width:246px;}
#contents .grid5 {float:left; margin-top:8px; margin-bottom:10px; width:248px;}
#contents .grid6 {float:left;width:248px;}

#contents .grid78 {width:520px; float:left}

#contents .grid7 {float:left; margin-top:8px; margin-left:8px;width:249px;}
#contents .grid8 {float:left; margin-top:8px; margin-left:8px;margin-bottom:10px; width:248px;}

#bottom{position:relative; background-color:#f7f6f6; height:310px; border-top:#dec2a3 solid 1px; border-bottom:#dec2a3 solid 1px; min-width:1024px;text-align:center;padding:10px 0 5px 0;}
.table-wrap{margin:0 auto;width:1024px;}
#bottom table span{font-weight:600;}
#bottom .box01,
#bottom .box02{box-sizing:border-box;height:290px;}
#bottom .box01{width:600px;border-right:1px solid #dec2a3;}
#bottom .box02{width:424px;padding-left:48px;}
#bottom .box01 .table1{width:600px;}
#bottom .box02 .table2{width:363px;}
#bottom .box01 .table1 td{height:26px;}
#bottom .box01 .table1 td.align-l{padding:0 15px;}
#bottom .box01 .item-list-out-box{height:224px;overflow:hidden;}
#bottom .box02 .table2 td{padding:2px 0;}
#bottom .box02 .table2 td:first-child{text-align:left;}
#bottom .box02 .table2 td:first-child i{margin-right:5px;}
#bottom .box01 h2,
#bottom .box02 h2{margin-top:10px;margin-bottom:20px;}
#bottom .box01 h2 i,
#bottom .box02 h2 i{margin-right:10px;}
#bottom .box01 h2,
#bottom .box02 h2{margin-left:20px;}

#bottom table input[type=text]{width:94%;padding:10px 5px;border:1px solid #84807f;border-radius:3px;}
#bottom table input[type=radio],
#bottom table input[type=checkbox],
#bottom table input[type=checkbox] + label,
#bottom table input[type=radio] + label{vertical-align:middle;}
#bottom table input.w66p {width:66px;}

.footer-wrap {margin:0 auto; width:1024px; margin-top:40px; }
.logo-s {float:left; width:200px; margin-left:25px;}
.adress {float:left; text-align:left; width:582px; font-weight:600;  margin-left:40px; color:#525252;}
.adress li{height:30px;}

.grid .action{position:relative;}
.grid ._img{overflow:hidden;border-radius:17px;position:relative;z-index:1;}
.grid ._img img{width:100%;display:block;
	transform: scale(1);
	-moz-transform: scale(1);
	transition:.3s ease-in-out;
	-moz-transition:.3s ease-in-out;
}
.grid .action:hover ._img img{
	transform:scale(1.06);
	-moz-transform:scale(1.06);
}
.grid ._text{position:absolute;top:0;right:0;bottom:0;left:0;}
.grid ._text a{display:block;height:100%;}
.grid .action:hover ._text a:after{content:'';display:block;position:absolute;top:0;right:0;bottom:0;left:0;z-index:10;border-radius:17px;
	animation:main-item-hover 0.5s forwards;
	-webkit-animation:main-item-hover 0.5s forwards;
	-moz-animation:main-item-hover 0.5s forwards;
}
.grid ._text .inBox{padding:15px;position:absolute;z-index:100;opacity:0;}
.grid ._text .inBox h3{}
.grid ._text .inBox p{margin-top:10px;}
.grid ._text .inBox h3,
.grid ._text .inBox p{text-align:left;color:#fff;}
.grid .action:hover ._text .inBox{
	animation:main-txt-hover 2s forwards;
	-webkit-animation:main-txt-hover 2s forwards;
	-moz-animation:main-txt-hover 2s forwards;
}

@keyframes main-item-hover{
	from {background-color:rgba(255,255,255,0);}
	to {background-color:rgba(0,0,0,0.6);}
}

@keyframes main-txt-hover{
	from{opacity:0;}
	to{opacity:1;}
}