@import url(../css/sprite.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.mb10 {
  margin-bottom: 10px !important;
}

.pageMaxWidth, .topBox .inBox, .mainInBox, #footer .inBox {
  width: 100%;
  max-width: 1280px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.clearfix {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

html {
  font-size: 1em;
}

body {
  font-family: 'Nanum Gothic', serif;
  font-size: 14px;
  line-height: 1.2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.imgBox img {
  max-width: 100%;
}

#wrap {
  width: 100%;
  min-height: auto;
  position: relative;
  background: url("../images/main/img_mainbg.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

.topBox {
  transition: all 0.5s ease-in;
  font-family: "NanumSquare";
  position: fixed;
  top: 0;
  width: 100%;
}
.topBox .inBox {
  margin: 0 auto;
  padding-top: 45px;
}
.topBox .mainGnb {
  float: right;
}
.topBox .mainGnb li {
  float: left;
  margin-left: 22px;
}
.topBox .mainGnb li a {
  transition: all 0.5s ease-in;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  color: #010101;
}
.topBox .mainIntroBox {
  transition: all 0.5s ease-in;
  float: left;
}
@keyframes mainText {
  from {
    top: 40px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.topBox .mainIntroBox .blackBox,
.topBox .mainIntroBox h1,
.topBox .mainIntroBox .date {
  opacity: 0;
  position: relative;
  top: 40px;
}
.topBox .mainIntroBox .blackBox {
  transition: all 0.5s ease-in;
  font-size: 22px;
  color: #fff;
  background-color: #22252a;
  padding: 6px 7px;
  font-weight: bold;
  animation: mainText 0.8s ease-in forwards;
}
.topBox .mainIntroBox h1 {
  transition: all 0.5s ease-in;
  display: inline-block;
  font-size: 72px;
  color: #ed193a;
  font-weight: bold;
  margin: 20px 0;
  padding: 5px 15px 5px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  animation: mainText 0.8s 0.2s ease-in forwards;
}
.topBox .mainIntroBox .date {
  transition: all 0.5s ease-in;
  display: inline-block;
  font-size: 48px;
  color: #003964;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  animation: mainText 0.8s 0.4s ease-in forwards;
}
.topBox.scrollTop {
  transition: all 0.5s ease-in;
  background-color: #fff;
  height: 120px;
}
.topBox.scrollTop .inBox {
  padding-top: 0px;
}
.topBox.scrollTop .mainGnb {
  padding-top: 45px;
}
.topBox.scrollTop .mainGnb a {
  transition: all 0.5s ease-in;
  font-weight: normal;
}
.topBox.scrollTop .mainIntroBox {
  transition: all 0.5s ease-in;
  padding-top: 25px;
}
.topBox.scrollTop .mainIntroBox .blackBox {
  transition: all 0.5s ease-in;
  font-size: 22px;
  color: #565655;
  background-color: transparent;
  padding: 0;
  font-weight: normal;
}
.topBox.scrollTop .mainIntroBox h1 {
  transition: all 0.5s ease-in;
  font-size: 36px;
  color: #ed193a;
  font-weight: bold;
  margin: 0;
}
.topBox.scrollTop .mainIntroBox .date {
  display: none;
}

.mainInBox {
  margin: 0 auto;
}
.mainInBox:before {
  content: '';
  display: table;
  width: 100%;
  padding-top: 59%;
}

.mainConBox {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 34px 29px 36px 35px;
}
.mainConBox .box01,
.mainConBox .box02,
.mainConBox .box03,
.mainConBox .box04 {
  float: left;
  border: 1px solid #d7d7d7;
}
.mainConBox .box01,
.mainConBox .box02 {
  height: 226px;
}
.mainConBox .box03,
.mainConBox .box04 {
  height: 184px;
  margin-top: 20px;
}
.mainConBox .box02,
.mainConBox .box04 {
  margin-left: 20px;
}
.mainConBox .box01 {
  width: 600px;
}
.mainConBox .box01 .imgBox,
.mainConBox .box01 .textBox {
  float: left;
}
.mainConBox .box01 .imgBox {
  width: 416px;
  height: 224px;
}
.mainConBox .box01 .textBox {
  width: 182px;
  height: 224px;
  padding: 16px 16px 13px;
  border-left: 1px solid #d7d7d7;
}
.mainConBox .box01 .textBox p {
  font-size: 15px;
  color: #000;
  line-height: 1.6;
  margin-bottom: 40px;
}
.mainConBox .box01 .textBox .btn_link {
  width: 100%;
}
.mainConBox .box02 {
  position: relative;
  width: 276px;
  padding: 17px 17px 0;
}
.mainConBox .box02 h4 {
  font-size: 22px;
  color: #000;
  font-weight: bold;
}
.mainConBox .box02 .noti {
  border-top: 2px solid #003964;
  margin-top: 10px;
  padding-top: 10px;
}
.mainConBox .box02 .noti a {
  font-size: 15px;
  line-height: 2;
  color: #000;
}
.mainConBox .box02 .moreBtn {
  display: block;
  position: absolute;
  top: 16px;
  right: 17px;
}
.mainConBox .box03 {
  width: 566px;
}
.mainConBox .box03 ul {
  height: 100%;
}
.mainConBox .box03 li {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 15px 20px;
}
.mainConBox .box03 li div {
  position: absolute;
  top: 0;
  left: 0;
}
.mainConBox .box03 li:first-child + li, .mainConBox .box03 li:first-child + li + li + li {
  background-color: #fff;
}
.mainConBox .box03 li:first-child {
  background-image: url(../images/icon/icon_main1.png);
}
.mainConBox .box03 li:first-child div {
  top: 38px;
  left: 38px;
}
.mainConBox .box03 li:first-child + li {
  background-image: url(../images/icon/icon_main2.png);
}
.mainConBox .box03 li:first-child + li div {
  top: 55px;
  left: 80px;
}
.mainConBox .box03 li:first-child + li + li {
  background-image: url(../images/icon/icon_main3.png);
}
.mainConBox .box03 li:first-child + li + li div {
  top: 20px;
  left: 25px;
}
.mainConBox .box03 li:first-child + li + li + li {
  background-image: url(../images/icon/icon_main4.png);
}
.mainConBox .box03 li:first-child + li + li + li div {
  top: 58px;
  left: 52px;
}
.mainConBox .box03 li:first-child + li + li + li + li {
  background-image: url(../images/icon/icon_main5.png);
}
.mainConBox .box03 li:first-child + li + li + li + li div {
  top: 60px;
  left: 50px;
}
.mainConBox .box03 li a {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  height: 100%;
  padding-top: 124px;
  color: #000;
  text-align: center;
}
.mainConBox .box03 li a:hover div {
  animation: test 1s ease-in;
}
@keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mainConBox .box04 {
  width: 310px;
}

.btn_link {
  position: relative;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #d6d6d6;
  color: #000;
}
.btn_link:after,
.btn_link span {
  line-height: 18px;
  vertical-align: middle;
}
.btn_link:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 16px;
  position: absolute;
  right: 8px;
  background: url(../images/icon/icon_link_btn.png) no-repeat 0 0;
}

#footer {
  height: 89px;
  margin-top: 53px;
  background: #010201;
}
#footer .inBox {
  margin: 0 auto;
  padding-top: 11px;
}
#footer .footerLogo {
  float: left;
}
#footer .textBox {
  float: left;
  margin-left: 30px;
}
#footer .textBox .linkBox a {
  color: #c9c9c9;
}
#footer .textBox .linkBox a:before, #footer .textBox .linkBox a:after,
#footer .textBox .linkBox a span {
  vertical-align: middle;
}
#footer .textBox .linkBox a:before, #footer .textBox .linkBox a:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #a4a5a4;
  margin: 0 7px;
}
#footer .textBox .linkBox a:before {
  margin-left: 0;
}
#footer .textBox .linkBox a:after {
  margin-right: 0;
}
#footer .textBox address {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 8px;
  color: #c9c9c9;
}
#footer .textBox address .spacing {
  display: inline-block;
  width: 15px;
}

@media (min-width: 800px) and (max-width: 1024px) {
  address {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 8px;
    color: #f00;
  }
  address .spacing {
    display: inline-block;
    width: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
